Repository tylercoles-dev/tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, eslint, technical-debt-check, performance-check, complexity-check, license-check, docs-check, migration-check

typescript-check:
  name: TypeScript Type Check
  entry: npm run typecheck
  language: system
  pass_filenames: false

eslint:
  name: ESLint
  entry: npx eslint --fix
  language: system

technical-debt-check:
  name: Technical Debt Check
  entry: ./.pre-commit-scripts/check-technical-debt.js
  language: node

performance-check:
  name: Performance Budget Check
  entry: ./.pre-commit-scripts/check-performance.js
  language: node
  pass_filenames: false

complexity-check:
  name: Code Complexity Check
  entry: ./.pre-commit-scripts/check-complexity.js
  language: node

license-check:
  name: License Compatibility Check
  entry: ./.pre-commit-scripts/check-licenses.js
  language: node
  pass_filenames: false

docs-check:
  name: Documentation Check
  entry: ./.pre-commit-scripts/check-docs.js
  language: node

migration-check:
  name: Database Migration Check
  entry: ./.pre-commit-scripts/check-migrations.js
  language: node

fix: resolve Docker build failures and TypeScript errors across all services
  gateway/tsconfig.json
  workers/embeddings/Dockerfile
  workers/embeddings/package-lock.json
  workers/embeddings/package.json
  workers/embeddings/src/index.ts
  workers/embeddings/src/types.ts
  workers/embeddings/tsconfig.json
  workers/embeddings/tsup.config.ts
  workers/markitdown/Dockerfile
  workers/markitdown/package-lock.json
  workers/markitdown/package.json
  workers/markitdown/tsconfig.json
  workers/markitdown/tsup.config.ts
Due: typescript-check, eslint, technical-debt-check, performance-check, complexity-check, license-check, docs-check

feat: implement comprehensive slug support for Kanban entities
  core/src/__tests__/utils/mock-database.ts
  core/src/services/kanban/database.ts
  core/src/services/kanban/service.ts
  core/src/services/kanban/types.ts
  gateway/src/routes/kanban.routes.ts
  migrations/src/migrations/001_initial_schema_complete.ts
  servers/kanban/src/tools/board/board-tools.ts
  servers/kanban/src/tools/card/card-tools.ts
  servers/kanban/src/tools/index.ts
  servers/kanban/src/types/index.ts
Due: typescript-check, eslint, technical-debt-check, complexity-check, docs-check, migration-check

fix: add missing system administration tables to consolidated migration
  migrations/src/migrations/001_initial_schema_complete.ts
Due: typescript-check, eslint, technical-debt-check, complexity-check, docs-check, migration-check

feat: standardize database architecture to PostgreSQL-only with UUID migration compatibility
  CLAUDE.md
  core/src/services/kanban/database.ts
  docs/TECHNICAL_DEBT.md
  gateway/.env.example
  migrations/src/seeds/essential.ts
  servers/kanban/.env.example
  servers/kanban/Makefile
  servers/kanban/README.md
  servers/kanban/src/database/schema.sql
  servers/memory/.env.example
  servers/memory/README.md
  servers/wiki/.env.example
  servers/wiki/README.md
  servers/wiki/src/database/schema.sql
  tests/.env.test
Due: typescript-check, eslint, technical-debt-check, complexity-check, docs-check, migration-check

fix: resolve TypeScript error with boolean field in PostgreSQL migration
  core/src/services/kanban/service.ts
Due: typescript-check, eslint, technical-debt-check, complexity-check, docs-check

fix: add unique constraint to data_retention_policies.table_name for seed compatibility
  migrations/src/migrations/001_initial_schema_complete.ts
Due: typescript-check, eslint, technical-debt-check, complexity-check, docs-check, migration-check

fix: resolve Docker container module resolution and MCP schema validation issues
  servers/kanban/Dockerfile
  servers/kanban/src/database/schema.sql
  servers/memory/Dockerfile
  servers/wiki/Dockerfile
  servers/wiki/README.md
  servers/wiki/src/database/schema.sql
  servers/wiki/src/index.ts
  servers/wiki/src/tools/attachment/attachment-tools.ts
  servers/wiki/src/tools/category/category-tools.ts
  servers/wiki/src/tools/comment/comment-tools.ts
  servers/wiki/src/tools/page/page-tools.ts
  servers/wiki/src/tools/search/search-tools.ts
  servers/wiki/src/tools/tag/tag-tools.ts
Due: typescript-check, eslint, technical-debt-check, complexity-check, docs-check, migration-check

Path conditions:
  typescript-check: any of: \.(ts|tsx)$
  eslint: any of: \.(ts|tsx|js|jsx)$, but not: node_modules|dist|build|\.next
  technical-debt-check: any of: \.(ts|tsx|js|jsx)$, but not: node_modules|dist|build|\.next
  performance-check: any of: package\.json|tsup\.config\.|webpack\.config\.|vite\.config\.
  complexity-check: any of: \.(ts|tsx|js|jsx)$, but not: node_modules|dist|build|\.next|\.test\.|\.spec\.
  license-check: any of: package\.json|package-lock\.json
  docs-check: any of: \.(ts|tsx|js|jsx)$, but not: node_modules|dist|build|\.next|\.test\.|\.spec\.
  migration-check: any of: database/|migrations/|schema\.
